<div class='page-header'>
    <h1>Sign-in</h1>
</div>
<div class="input-group">
    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
    {{input type='text' class='form-control' value=email placeholder='email'}}
</div>
<div class="input-group">
    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
    {{input type='password' class='form-control' value=password placeholder='password'}}
</div>

{{#if session.isWorking}}
    <button class='btn btn-default' disabled='disabled'>
        {{fa-icon 'spinner' spin=true}} Signing in...
    </button>
{{else}}
    <button class='btn btn-default' {{action 'signIn' 'password'}}>
    {{fa-icon 'sign-in'}} Sign In
    </button>
{{/if}}