    <thead>
    <tr>
        <th>ID</th>
        <th> {{radio-button value='item.firmName' groupValue=sortBy}} Firm Name</th>
        <th>CVR</th>
        <th>{{radio-button value='email' groupValue=sortBy}} Email</th>
        <th>Phone Number</th>
        <th>Address</th>
        <th>Zip Code</th>
        <th>Comment / Notes</th>
        <th>Priority</th>
        <th>{{input type='checkbox' checked=reverseSort}} Reverse sort</th>
    </tr>
    </thead>
    <tbody>
      {{#each sortedTables as |item|}}
        {{municipality/municipality-row item=item}}
      {{else}}
        {{#if model.isUpdating}}
            <tr><td colspan="5" class="text-center">Data is downloading...</td></tr>
        {{else}}
            <tr><td colspan="5" class="text-center">Please add your first item to the list</td></tr>
        {{/if}}
      {{/each}}
    </tbody>